@page "/"


<h2>EventCallback</h2>

<h1>Parent-child example</h1>
<ChildComponent Title="Panel Title from Parent" OnClick="@ShowMessage">
    Content of the child component is supplied by the parent component.
</ChildComponent>
<ChildComponent OnClick="@(async () => {
                                           await Task.Yield(); 
                                           messageText = "Blaze It!"; })" />

<p>
    <b>@messageText</b>
</p>

@code {
    private string messageText;

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = $"Blaze a new trail with Blazor! ({e.ScreenX}, {e.ScreenY})";
    }
}
